@*//@model MVC_Phone_Book.Models.Person*@
@model IEnumerable<MVC_Phone_Book.Models.Person>

@{
    ViewData["Title"] = "Details";
}
<div>
    <h4>PersonClass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
    
    </dl>
</div>